* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
	padding: 80px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

.header h1 {
	font-size: 40px;
}

.navbar {
	display: flex;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #666;
	color: white;
}

.row {  
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    flex: 1;
}

.side {
	-ms-flex: 30%;
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main {   
	-ms-flex: 70%;
	flex: 70%;
	background-color: white;
	padding: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
	.navbar{
		justify-content: space-evenly;

	}
}
@media screen and (max-width: 1500px) and (min-width: 750px) {
	.navbar{
		justify-content: center;
	}

}
@media screen and (max-width: 400px) {
	.navbar{
		flex-direction: column;
	}

}